


<p id="notice"><%= notice %></p>
<%= link_to 'Back', technicalareas_path %>
<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">




           <h3><%= @technicalarea.name %></h3>


        <div class="form-group">
          <label class="col-sm-2 control-label">Description: </label>
          <div class="col-sm-10">
            <%= @technicalarea.body %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <%= link_to 'Edit', edit_technicalarea_path(@technicalarea), :class => "btn btn-primary" %>
          </div>
        </div>


</div>
    </div>
  </div>

  <div class="col-sm-6">

    <div class="panel panel-default">
      <div class="panel-body">

        <h3>Related Notices</h3>

        <% @mynotices.each do |ad| %>
            <%= link_to ad.notice.name, ad.notice %><br>
            Posted: <%= ad.notice.posted_on %><br>
            Closing Date: <%= ad.notice.closed_on %>
            <hr>

        <% end %>
     </div>
    </div>




    <div class="panel panel-default">
      <div class="panel-body">

        <h3>Related News Post</h3>

        <% @myposts.each do |p| %>
            <%= link_to p.post.name, p.post %><br>
            Created: <%= p.post.created_at %><br>
       
            <hr>

        <% end %>
      </div>
    </div>







  </div>









</div>